// *************************************
//
//   Footer
//   -> Very bottom badge
//
// *************************************

//.footer

// -------------------------------------
//   Scaffolding
// -------------------------------------

.footer-logo
  border: none
  display: block
  margin: ($b-space * 1.5) auto
  width: 5em
  +respond-to($g)
    margin: $b-space-l auto
    width: 7em
  &:hover
    opacity: 0.8
