// *************************************
//
//   Header
//   -> Logo and sub-branding
//
// *************************************

.header
  background: $c-background
  border-bottom: $b-border
  padding: 2.45em $b-space
  img
    width: 11em
