// *************************************
//
//   Status
//   -> Row of status blocks
//
// *************************************

.status
  line-height: 1
  margin: 2.5em 0

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Featured ----- //

.status--green,
.status--red,
.status--yellow
  border-radius: $b-borderRadius
  display: inline-block
  height: 1.75em
  margin-top: -0.3em
  width: 1.75em

.status--green
  background: $green

.status--red
  background: $red

.status--yellow
  background: $yellow

// -------------------------------------
//   Scaffold
// -------------------------------------

// ----- Justify ----- //

.status-justify
  display: none
  overflow: hidden
  text-align: justify
  width: 100%
  +respond-to($g)
    display: block
  &::after
    content: ''
    display: inline-block
    width: 100%
  p
    color: $c-subdue
    display: inline-block
    font-size: $b-fontSize-s
    font-weight: 600
    line-height: 1
    margin: 0

// ----- Featured ----- //

.status-green,
.status-red,
.status-yellow
  border-radius: $b-borderRadius
  display: inline-block
  height: 14px
  width: 14px

.status-green
  background: $green

.status-red
  background: $red

.status-yellow
  background: $yellow
