!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    // Apple Touch
  %link{rel: 'apple-touch-icon', href: image_path('apple-iphone.png')}
  %link{rel: 'apple-touch-icon', sizes: '76x76', href: image_path('apple-ipad.png')}
  %link{rel: 'apple-touch-icon', sizes: '120x120', href: image_path('apple-iphone@2x.png')}
  %link{rel: 'apple-touch-icon', sizes: '152x152', href: image_path('apple-ipad@2x.png')}

    %title= 'Ivy &mdash; Status'
    %link{rel: 'icon', type: 'image/png', href: image_path('favicon.png')}

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '//cloud.typography.com/6032932/639086/css/fonts.css'
  %body{ class: page_classes }
    = yield
