// *************************************
//
//   Bucket
//   -> Based on:
//      * http://jsfiddle.net/necolas/rZvEF/
//
// *************************************

.bucket
  @extend .group
  margin-bottom: $b-space

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.bucket-content
  display: table-cell
  width: 10000px

// ----- Media ----- //

.bucket-media
  float: left
  margin-right: $b-space
  > img
    display: block
    max-width: none
