// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// *************************************

.cell
  margin-left: auto
  margin-right: auto
  max-width: $b-maxWidth
  position: relative
