// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  background: $c-background
  border-bottom: $b-border
  overflow: hidden
  padding: 0 $b-space
