= partial "shared/header"

.row
  .cell.well
    %p
      Find the most up-to-date performance metrics for the various
      Ivy systems below. If you think any of these metrics might
      be incorrect, please email
      = link_to "support@ivyapp.com", "mailto:support@ivyapp.com"
    %hr

    %h2 Last 24 Hours

    .status
      .status-justify
        - 24.times do
          .status-green
      .status-justify
        %p 10a EST Yesterday
        %p 9a EST Today

    .bucket
      .bucket-media
        .status.status--green
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

    .bucket
      .bucket-media
        .status.status--yellow
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

    .bucket
      .bucket-media
        .status.status--red
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

    %h2 Last 31 Days

    .status
      .status-justify
        - 31.times do
          .status-green
      .status-justify
        %p Jan 1
        %p Jan 31

    .bucket
      .bucket-media
        .status.status--green
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

    .bucket
      .bucket-media
        .status.status--yellow
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

    .bucket
      .bucket-media
        .status.status--red
      .bucket-content
        %h3 January 22, 2015
        %p
          Nisi erat porttitor ligula, eget lacinia odio sem nec
          elit. Nullam id dolor id nibh ultricies vehicula ut id
          elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aenean lacinia
          bibendum nulla sed consectetur.

= partial "shared/footer"
