// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

html
  background: $c-background image-url('pattern.svg') center
  background-size: 72px 144px
  color: $c-text
  font-family: $b-fontFamily
  font-size: $b-fontSize
  font-weight: 400
  line-height: $b-lineHeight
  +respond-to($g)
    background-size: 108px 216px

body
  font-size: 100%

// -------------------------------------
//   Block Content
// -------------------------------------

// ----- Headings ----- //

h1, .h1,
h2, .h2,
h3, .h3
  font-weight: 600
  line-height: 1
  margin-top: 0

h1, .h1
  font-size: $b-fontSize-xl

h2, .h2
  color: $purple
  font-size: $b-fontSize-l
  margin: $b-space-l 0 $b-space

h3, .h3
  font-size: 100%
  margin-bottom: $b-space-s

// ----- Horizontal Rule ----- //

hr
  border: none
  border-bottom: $b-border
  margin-top: 5em

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Links ----- //

a
  color: $orange
  text-decoration: none
  &:hover,
  &:focus
    color: lighten($orange, 5%)

// ----- Images ----- //

img
  height: auto
  max-width: 100%
